@charset "utf-8";
body {
	font-style: normal;
	line-height: 1.5;
	font-family: "Arial";
}

h1 {
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	background-origin: content-box;
	background-size: cover;
}

h2 {
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	background-origin: content-box;
	background-size: cover;
}

p {
	text-justify: auto;
	font-size: 16;
	line-height: 2;
}