@charset "utf-8";

h1 {
	font-style: normal;	
	font-family: "Arial";
	font-size: auto;
}
p {
	text-justify: auto;
	font-size: auto;
	font-family: "Arial";
}
body {
	background-color: aliceblue;
	margin: 20px auto;
}

.first_container {
	
	display:flex;
	margin: 0 auto;
  	width: 40%;
  	padding: 20px;
	column-gap: 20px
}

.first_picture {
	height: 300px;
	border-radius: 20px;
}

.right-content {
	
}